<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Donation"
        tools:targetApi="31">
        <activity
            android:name=".SoutScolaire"
            android:exported="false" />
        <activity
            android:name=".Accompagnement"
            android:exported="false" />
        <activity
            android:name=".carte"
            android:exported="false" />
        <activity
            android:name=".material"
            android:exported="false" />
        <activity
            android:name=".nourriture"
            android:exported="false" />
        <activity
            android:name=".DonService"
            android:exported="false" />
        <activity
            android:name=".DonNourr"
            android:exported="false" />
        <activity
            android:name=".DonMaterial"
            android:exported="false" />
        <activity
            android:name=".Acceuil"
            android:exported="false" />
        <activity
            android:name=".Inscription"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".donate" />
    </application>

</manifest>